body {
	margin: 0;  padding: 0;  margin-bottom: 15px;  margin-top: 20px;
	color:#32325D;
}

body, td {
	font: 14px "Asap", Verdana, Arial, Helvetica, sans-serif;

	}

.bouton{
 color:#32325D;
 border-width:0.4px;
 border-style:solid;
 border-color:grey;
 padding:7px;
 border-radius:20px;
 font-weight:bold;
 font-size:10px;
}

.inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: #65CEE7;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

#txt{
	background-color:#30343F;
	color:#B4B4C4;
}

#progressBar{
display:none;
}

.butEnvoyer{
 color:#32325D;
 border-width:0.4px;
 border-style:solid;
 border-color:grey;
 padding:7px;
 border-radius:20px;
 font-weight:bold;
 font-size:10px;	
}